$blue: #5FBFF9;
$red: #E03E81;
$red-a-20: rgba(224, 62, 129, 0.2);
$green: #72E98A;
$green-a-40: rgba(114, 233, 138, 0.4);
$salmon: #F88D4F;
$orange: #EA7317;
$background: #470164;
$background-a-60: rgba(71, 1, 100, 0.6);
$violet: #8223DF;
$violet-a-20: rgba(130, 35, 223, 0.2);

$pageWidth: 1920px;
$pageHeight: 1080px;
