$blue: #5FBFF9;
$red: #E03E81;
$red-a-20: rgba(224, 62, 129, 0.2);
$green: #72E98A;
$green-a-40: rgba(114, 233, 138, 0.4);
$salmon: #F88D4F;
$background: #470164;

$pageWidth: 1920px;
$pageHeight: 1080px;
