@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Kosugi+Maru&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import './constants.scss';

body {
    font-family: 'Nunito', 'Kosugi Maru', sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.logo-font {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-style: normal;
}

span.pronoun {
    font-weight: 600;
    background-color: $salmon;
    color: #222;
    font-size: 20px;
    padding: 0 5px;
    border-radius: 5px;
    filter: drop-shadow(0 0 3px $salmon);
}
