@import './constants';

@mixin glow-border($color, $radius: 15px) {
    width: 100%;
    height: 100%;
    border-radius: $radius;
    box-shadow:
        inset 0 0 5px 0 $color,
        0 0 0 1px $color,
        0 0 0 3px white,
        0 0 0 4px $color,
        0 0 8px 5px $color;
}

@mixin line-glow($color) {
    background-color: white;
    border: 1px solid $color;
    filter: drop-shadow(0 0 2px $color) drop-shadow(0 0 5px $color);
}

.glow-border {
    &.glow-blue {
        @include glow-border($blue);
    }

    &.glow-red {
        @include glow-border($red);
    }

    &.glow-green {
        @include glow-border($green);
    }
}
