@import '../../styles/background';
@import '../../styles/constants';
@import '../../styles/glow';

.teams-wrapper {
    position: absolute;
    top: 250px;

    .team-display {
        width: 1400px;
        height: 525px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr 2fr;
        align-items: end;
        position: relative;

        .team {
            position: relative;
            height: 100%;

            .background {
                position: absolute;
                width: 500px;
                height: 0;
                bottom: 5px;
                z-index: 1;
                @include background();
            }

            .content {
                position: absolute;
                bottom: 5px;
                height: 0;
                opacity: 0;
                width: 500px;
                overflow: hidden;
                z-index: 2;

                .team-name {
                    width: 100%;
                    height: 112px;
                    overflow: hidden;

                    fitted-text {
                        font-size: 50px;
                        font-weight: 700;
                        font-style: italic;
                        //transform: translate(0px, 100px);
                    }
                }

                .players {
                    position: absolute;
                    width: 460px;
                    height: 330px;
                    margin: 12px 20px 15px;
                    bottom: 0;
                    left: 0;

                    fitted-text {
                        font-size: 40px;
                        font-weight: 300;
                        margin-bottom: 2px;
                        transform: translate(-350px, 0px);
                        opacity: 0;
                    }
                }
            }

            .line {
                position: absolute;
                height: 2px;

                &.top {
                    top: 0;
                    width: 0;
                    opacity: 0;
                    margin-bottom: 45px;
                    z-index: 3;
                }

                &.mid {
                    top: 160px;
                    width: 0;
                    opacity: 0;
                    z-index: 3;
                }
            }

            &.alpha {
                .line {
                    @include line-glow($red);
                }
            }
            &.bravo {
                .line {
                    @include line-glow($green);
                }
            }
        }

        .versus-wrapper {
            width: 100%;
            height: 120px;
            align-self: center;
            overflow: hidden;

            .versus {
                width: 100%;
                font-weight: 800;
                font-size: 110px;
                text-align: center;
                filter: drop-shadow(0 0 3px white);
                transform: translate(0px, 200px);
            }
        }
    }

    .prediction-wrapper {
        $predictionWidth: 1300px;
        margin-top: 50px;

        #prediction-title {
            margin-bottom: 5px;
            font-size: 35px;
            font-style: italic;
            filter: drop-shadow(0 0 5px $background) drop-shadow(0 0 10px $background);
            opacity: 0;
        }

        .prediction-box {
            @include background();

            height: 120px;
            width: 0;
            overflow: hidden;
            opacity: 0;

            .background {
                position: absolute;
                width: $predictionWidth; height: 100%;
            }

            .options {
                width: $predictionWidth;
                height: 100%;
                position: absolute;

                .option {
                    width: 50%;
                    margin: 6px 20px;

                    &.bravo {
                        text-align: right;
                    }

                    .point-count {
                        font-size: 32px;
                        font-style: italic;
                    }

                    .percentage {
                        font-size: 72px;
                        font-weight: 800;
                        line-height: 65px;
                    }
                }
            }
        }
    }
}
