@import '../../styles/constants';
@import '../../styles/layout';
@import '../../styles/fonts';

@import 'scoreboard';
@import 'casters';

body {
    background-color: #aaa;
    margin: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;

    color: white;
}

svg.element-line-svg {
    filter: drop-shadow(0 0 3px $blue) drop-shadow(0 0 5px $blue);
    z-index: 10;
    position: absolute;
}
