@import '../../styles/constants';
@import '../../styles/layout';
@import '../../styles/fonts';

@import 'scoreboard';

body {
    background-color: #aaa;
    margin: 0;

    color: white;
}

svg {
    filter: drop-shadow(0 0 3px $blue) drop-shadow(0 0 5px $blue);
    z-index: 10;
    position: absolute;
}
